/*MIXINS*/
body {
  background-color: white;
  color: #444444; }

h1, strong {
  color: #111111; }

h2 {
  color: #111111; }

hr {
  background-color: #d9d3cf; }

a {
  color: #3477d3; }
  a:visited {
    color: #3477d3; }

li:before {
  color: #111111; }

.green {
  color: #19963c; }

blockquote p {
  color: #444444; }
  blockquote p strong {
    color: #444444; }

div.quick-nav li a {
  color: #3477d3; }
  div.quick-nav li a strong {
    color: #3477d3; }

.gray-text {
  color: #aaa; }

.text-red {
  color: #b72a22;
  letter-spacing: .05em;
  text-transform: none; }

.text-blue {
  color: #3477d3;
  letter-spacing: .05em;
  text-transform: none; }

.plan {
  background-color: #efefef; }
  .plan .red {
    background-color: #e44727; }
  .plan h1.bonus-text {
    background-color: none;
    color: #9b9993; }
  .plan .bonus {
    background-color: #fcfcfc; }

.gaurantee {
  background-color: #ffd084; }

/*DIV TITLE BORDER-BOTTOM COLOR IN UI.SCSS*/
/*BLOCKQUOTE BORDERS IN TYPOGRAPHY.SCSS*/
/*COLOR MIXINS*/
/*NOMIXINS*/
body {
  text-rendering: optimizeLegibility;
  font: 20px/1.3em "futura-pt", Helvetica, sans-serif;
  word-spacing: .02em;
  /*LOGO KERNING*/
  /* BLOCKQUOTES */
  /*body Don't delete*/ }
  body strong {
    font-weight: 500; }
  body .logo {
    font-weight: 700;
    color: #111; }
  body .title {
    line-height: 1.3em; }
  body p, body h3, body h4, body h5, body h6 {
    font-weight: normal;
    letter-spacing: .015em; }
  body a {
    text-decoration: none; }
  body p + p {
    /*text-indent:1em*/ }
  body p.lead {
    font-size: 118%; }
  body p.footer {
    text-align: center; }
  body p.disclaimer {
    font-size: 75%;
    text-align: center; }
  body ol.months {
    list-style-type: none; }
  body ul {
    margin: 0; }
  body .bonus ul {
    margin-left: 0em; }
  body ul.footer-nav {
    margin-left: 0;
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0; }
  body h1 {
    font-size: 245%;
    line-height: 1.2em;
    font-weight: 700;
    font-family: "futura-pt", Helvetica, sans-serif; }
    body h1.headline {
      max-width: 13em;
      margin: .5em auto; }
    body h1.quote {
      text-indent: -0.4em; }
    body h1.center {
      text-align: center; }
  body h2 {
    font-weight: 700;
    font-size: 125%;
    line-height: 1.4em; }
    body h2.quote {
      text-indent: -0.4em; }
  body h3 {
    font-size: 118%; }
  body h4 {
    font-size: 118%; }
  body .unbold {
    font-weight: normal; }
  body .small {
    font-size: 80%; }
  body .mid {
    font-size: 86%; }
  body .center {
    text-align: center; }
  body span.kern {
    letter-spacing: -.05em; }
  body span.kern2 {
    letter-spacing: -.2em; }
  body blockquote {
    margin: 0em;
    width: 100%;
    /* margin-top: 4em;*/ }
    body blockquote p {
      margin: 0em;
      font-weight: 400;
      line-height: 1.5em;
      word-spacing: -.1em;
      text-align: left;
      text-indent: -.4em;
      padding: .5em 1.5em; }
      body blockquote p strong {
        font-weight: 500; }
      body blockquote p span {
        font-family: "futura-pt", Helvetica, sans-serif; }
    body blockquote p.name {
      font-size: 85%;
      display: inline-block;
      vertical-align: middle;
      font-style: normal;
      margin-top: -2.5em;
      font-weight: 500;
      width: 50%; }
    body blockquote .by-line {
      text-align: left;
      vertical-align: middle; }
  body .plan {
    font: 90%/1.4em "futura-pt", Helvetica, sans-serif; }
    body .plan h1 {
      font-size: 100%;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-weight: 900; }
      body .plan h1 .text-red {
        font-weight: 700; }
    body .plan h2 {
      color: #9b9993;
      font-size: 70%;
      text-transform: uppercase;
      letter-spacing: .175em;
      font-weight: 900; }
    body .plan .bonus li p + p {
      margin-top: -.5em; }
  body .footer {
    font-size: 75%; }
    body .footer a {
      text-decoration: underline; }
  body .refund h4 {
    font-size: 100%; }

/*TEXT STYLING*/
/*---
IMAGES
*/
.quote-photo {
  border-radius: 25px;
  margin: 10px 10px;
  height: 50px;
  width: 50px; }

.feast-or-famine {
  max-width: 613px;
  width: 100%;
  margin: auto; }

/*-- DIJA ANIMATION */
#pulling-dija {
  position: relative;
  margin: auto;
  text-align: center;
  max-height: 229px;
  padding: 0px; }

#pulling-dija img {
  width: 100%;
  max-width: 600px; }

#pulling-dija:hover {
  -webkit-animation: move 1s ease-in-out infinite;
  -moz-animation: move 1s ease-in-out infinite;
  -ms-animation: move 1s ease-in-out infinite;
  animation: move 1s ease-in-out infinite; }

@-moz-keyframes move {
  0%, 100% {
    left: 0; }

  50% {
    left: 10px; } }

@-webkit-keyframes "move" {
  0%, 100% {
    left: 0; }

  50% {
    left: 10px; } }

@-ms-keyframes "move" {
  0%, 100% {
    left: 0; }

  50% {
    left: 10px; } }

/*IMAGE STYLING*/
body {
  margin: 0;
  padding: 0;
  /*----------------------------------------------------
  NAV
  ----------------------------------------------------*/
  /*----------------------------------------------------
  HOMEPAGE SECTION
  ----------------------------------------------------*/
  /*----------------------------------------------------
  BUTTONS
  ----------------------------------------------------*/
  /*----------------------------------------------------
  CALL TO ACTION BOX
  ----------------------------------------------------*/
  /*----------------------------------------------------
  SIGN IN
  ----------------------------------------------------*/
  /*----------------------------------------------------
  HOMEPAGE NEWSLETTER SIGN UP
  ----------------------------------------------------*/
  /*----------------------------------------------------
  INPUTS
  ----------------------------------------------------*/ }
  @media (max-width: 770px) {
    body {
      padding: 0em 2em; } }
  @media (max-width: 660px) {
    body {
      font-size: 18px;
      padding: 0em 2em; } }
  @media (max-width: 440px) {
    body {
      font-size: 16px;
      padding: 0em 1em; } }
  body button {
    cursor: pointer; }
  body a:hover {
    text-decoration: underline; }
  body hr {
    border: 0;
    height: 1px; }
  body nav.home_menu {
    position: absolute;
    top: 35px;
    right: 20px; }
  body nav.home_menu a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
  body div.page.home {
    margin: 90px auto;
    position: relative;
    width: 100%;
    max-width: 33em; }
  body .button {
    padding: 10px 15px;
    background-color: #e44727;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 70%;
    letter-spacing: .1em;
    text-transform: uppercase; }
    body .button:hover {
      background-color: #f75432;
      text-decoration: none; }
  body a.button:hover {
    text-decoration: none; }
  body a.cta visited {
    color: white; }
  body .cta {
    color: white;
    display: block;
    font-size: 105%;
    padding: 20px 30px;
    text-transform: none;
    letter-spacing: .075em;
    max-width: 33em;
    margin: 1em auto 1em auto; }
  body a#button {
    font-weight: 700;
    letter-spacing: .1em;
    background: #e44727;
    border: none;
    border-bottom: 2px solid #b72a22;
    color: #fff;
    font-size: 80%;
    padding: .75em 1em .7em;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    position: relative; }
  body a#button:hover {
    background: #f75432; }
  body a#button:active,
  body a#button:focus {
    background: #b72a22;
    border-bottom: 0;
    border-top: 2px solid #e44727;
    outline: none;
    box-shadow: 0 2px 1px #fff;
    -moz-box-shadow: 0 2px 1px #fff;
    -webkit-box-shadow: 0 2px 1px #fff; }
  body a#button-blue {
    font-weight: 700;
    letter-spacing: .1em;
    background: #3477d3;
    border: none;
    border-bottom: 2px solid #0b4aa1;
    color: #fff;
    font-size: 80%;
    padding: .75em 1em .7em;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    position: relative; }
  body a#button-blue:hover {
    background: #4b8be2; }
  body a#button-blue:active,
  body a#button-blue:focus {
    background: #26599b;
    border-bottom: 0;
    border-top: 2px solid #3477d3;
    outline: none;
    box-shadow: 0 2px 1px #fff;
    -moz-box-shadow: 0 2px 1px #fff;
    -webkit-box-shadow: 0 2px 1px #fff; }
  body button.ten-free {
    width: 70%;
    margin: -.6em auto 1em auto;
    text-align: center;
    display: block; }
  body .signin-btn {
    width: 4em;
    float: left;
    margin-top: 0em;
    margin-left: 1em;
    padding: .2em .4em .3em .6em;
    text-transform: none;
    letter-spacing: normal;
    text-align: left;
    font: .65em/1.5em Verdana, Helvetica, sans-serif; }
  body .gaurantee {
    font-size: .75em;
    border-radius: .5em;
    padding: .1em .5em;
    font-weight: 900;
    margin-left: -5.75em;
    margin-right: 1em; }
    @media (max-width: 880px) {
      body .gaurantee {
        margin: 0em .5em 0em 0em; } }
  body div.nav-foot {
    margin-top: 2.5em;
    display: block;
    width: 100%;
    border-top: 1px solid #d9d3cf;
    font-size: 90%; }
    body div.nav-foot a {
      text-decoration: underline; }
  body .plan {
    padding: .5em 2em .5em 2em; }
    @media (max-width: 880px) {
      body .plan {
        padding: .25em 1em .25em 1em; } }
    body .plan .leads {
      margin: -.5em 0 2em 0;
      padding: 0 0 0 0em;
      vertical-align: text-top;
      width: 10em;
      display: inline-block;
      list-style-type: none; }
      body .plan .leads li:before {
        margin-right: .5em;
        color: #3477d3; }
      body .plan .leads h2 {
        text-indent: 0em; }
    body .plan .bonus {
      padding: .25em 1em .25em 1em;
      border-radius: .3em;
      box-shadow: 0px 2px 0px 0px #dbdbdb; }
      @media (max-width: 880px) {
        body .plan .bonus {
          padding: .125em .5em .125em .5em; } }
      body .plan .bonus span.new {
        color: #b72a22; }
      body .plan .bonus ul, body .plan .bonus li {
        padding: 0;
        list-style: none; }
  body .pricing-option-1 {
    margin: 2em 0 2em 0; }
  body .signin {
    padding-top: 3em;
    text-align: center;
    width: 18em;
    margin: auto; }
  body .newsletter-form {
    margin: 0 auto 0 auto;
    width: 100%; }
    @media (max-width: 730px) {
      body .newsletter-form {
        width: 16em; } }
  body input {
    width: 100%;
    max-width: 16em;
    height: 1.5em;
    font: 1em/1.5em "brandon-grotesque", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    padding-left: .4em;
    border-radius: .2em; }
  body input.ten-free {
    max-width: 15em;
    margin-right: .5em;
    float: left;
    display: inline-block;
    margin-top: -.5em;
    margin-bottom: 1em; }
  body input.right {
    float: left;
    margin-top: -.55em;
    margin-right: 0em; }
  body input:focus {
    background-color: #FAFFBD;
    outline: 0; }

/*END BODY*/
/*----------------------------------------------------
FADE IN ANIMATION
----------------------------------------------------*/
#fade2 {
  -webkit-animation: fade-in-up 1s both;
  -moz-animation: fade-in-up 1s both;
  -ms-animation: fade-in-up 1s both;
  -o-animation: fade-in-up 1s both;
  animation: fade-in-up 1s both;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

#fade1 {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  /* Firefox */
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */
  -o-animation: fadein 5s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/*FORMS, BUTTONS*/
