/*---------------------------------------------------------------------
 
	Content: Mobile Theme CSS 
	Author:  ThemeBeans of http://www.themebeans.com
	
 	TABLE OF CONTENTS:
 
 	01. MOBILE GRID SYSTEM
 	02. GENERAL RESPONSIVE (SMALL SCREENS & TABLET MOBILE)
 	03. iPAD/TABLET DEVICES GENERAL
 	04. iPAD/TABLET DEVICES (LANDSCAPE)
 	05. iPAD/TABLET DEVICES (PORTRAIT)
 	06. iPHONE/SMARTPHONE (GENERAL)
 	06. iPHONE/SMARTPHONE (PORTRAIT)
 	07. RESPONSIVE NAVIGATION
 	08. RETINA CSS
 
 ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------*/
/*                    												  */
/*                     01. MOBILE GRID SYSTEM			  	 		  */
/*                    												  */
/*--------------------------------------------------------------------*/
@media only screen 
and (max-width: 767px) {		
	.widget_row  { 
		width: 100%; 
		margin: 0 auto; 
		float: left; 
		max-width: 800px;
		}
		
	.widget_row .widget { float: left; min-height: 1px; position: relative; margin:20px 0 0 0;}
	.widget_row .widget:first-child { margin-left: 0; }
	
	.widget_row .widget_1,
	.widget_row .widget_2,
	.widget_row .widget_3,
	.widget_row .widget_4,
	.widget_row .widget_5,
	.widget_row .widget_6 { width: 100%; }
}
		
		
		
		
/*--------------------------------------------------------------------*/
/*                    												  */
/*       02. GENERAL RESPONSIVE (SMALL SCREENS & TABLET MOBILE) 	  */
/*                    												  */
/*--------------------------------------------------------------------*/
		
/*--------------------------------------------------------------------*/
/*	A. BODY STYLES
/*--------------------------------------------------------------------*/  
@media only screen 
and (max-width: 767px) {	
 	
	#top-header { padding: 0px 0px 35px 0px; }  

	#page-header { padding: 40px 15px 0px 15px; }
 		
	#page-header h1 {
		font-size: 60px;
		overflow: hidden;
		}
	 
	#nav-single { display: none; }
	 
	#toTop { display: none!important; }
	 	
	#main-container {
		background-image: none; 
		width: 100% ;
		overflow: hidden;
		padding: 0px 15px 40px 15px; 
		}
	
	#main { 
		margin: 0 0; 
		margin-top: 10px;
		padding-top: 0;
		max-width: 100%;
		}

	section.type-post {
		max-width: 100%;
		}
	
	#sidebar { display: none; }	 
	
	.team {
		padding: 25px 4px 0px 16px;
		margin-bottom: 10px;
		}
			
	.tag-index {
		width: 105.5%%;
		margin-top: 20px;
		}
	
	
/*--------------------------------------------------------------------*/
/*	B.  INPUT & SUBMIT BUTTONS
/*--------------------------------------------------------------------*/  
	.input-small, input.small, textarea.small, select.small { width: 100%; }
		
	form label {
	    display: block;
	    width: 100%;
	    margin-bottom: 5px;
	    }
		
	.contact-submit .button[type="submit"] {
	 	width: 100%;
	 	padding: 12px 18px;
	 	}	
	
	.comment-form-left { padding: 0 0 0 0 ; }  	 
	
	.comment-form-right {
		float: none;
		width: 100%;
	}
	 
		 
/*--------------------------------------------------------------------*/
/*	C.  HEADER STYLES
/*--------------------------------------------------------------------*/  		 
	.navigation { margin-bottom: 10px;}
	
	#top { padding: 15px 0 0 0; }
	
	#header { padding-top: 0 !important; }
	
	#logo { padding-left: 15px; }
	
	#logo_text{ font-size: 32px; }
	
	#logo img {
		float: none;
		margin-right: 0;
		}
	
	#branding {
		width: 100% !important;
		text-align: center;
		margin-bottom: 0;
		}
		
	#branding-tagline {
		border-left: none;
		margin: 0 auto;
		text-align: center;
		padding-left: 0;
		clear: both;
		float: none;
		}
	
	#branding-tagline p { text-align: center; }
	
	#navigation { border-bottom: none; }
	
	#responsive-nav select {
		height: 40px;
		width: 100%;
		position: relative;
		display: block;
		margin-bottom: 0;
		}	


/*--------------------------------------------------------------------*/
/*	D.  FOOTER STYLES
/*--------------------------------------------------------------------*/  
 	#footer-widgets { padding: 40px 15px 40px 15px; }
 	
 	#bottom-footer .container { padding-bottom: 0; }
 	 	
 	#colophon {
 		padding: 20px 0px 25px 0px;
 		text-align: center;
 		}
 		
 	#footer-menu {
 		margin: 0 auto;
 		text-align: center;
 		width: 100%;
 		}
 	
 	#bottom-footer input[type="email"], 
 	#bottom-footer input[type="text"], 
 	#bottom-footer input[type="password"], 
 	#bottom-footer textarea {
 		width: 100%;
 		text-align: center;
 		}
 		 
 	.footer-widgets-left { 
 		margin-right: 0px;
	 	border-right: none;
	 	padding-right: 0px;
	 	text-align: center;
 		}
 	
 	.footer-widgets-right {
	 	padding-left: 0px;
	 	padding-right: 0px;
	 	border-top: 1px solid #282828;
	 	margin-top: 50px;
	 	text-align: center;
	 	padding-top: 20px;
 		}
 	
 	
	.footer-widgets-left h3,
	.footer-widgets-left h3 { font-size: 50px; }
	
	.footer-widgets-full { margin-bottom: 20px; }
	
	.footer-widgets-full .widget {
		margin-top: 45px;
		margin-bottom: 0px!important;
		}	
	 	
	.footer_widget { margin-bottom: 0; padding-bottom: 0; }
	
	.footer_widget form { margin-bottom: 0; }
		
	.footer_widget .quickcontact .input { margin-bottom: 0; }
	
	.footer-widgets-bottom ul,
	.footer-widgets-bottom { text-align: center; }
	
	
	.footer-widgets-bottom { float: none; }	
	
	
/*--------------------------------------------------------------------*/
/*	E.  POST STYLES
/*--------------------------------------------------------------------*/  		   		
	.single-post #comments {
		padding-left: 0;
		max-width: 100%;
		}
		
	.jp-time-frame { display: none; }	

	.pagination a.inactive, 
	.pagination span.current {	display: none; }
	
	.single-post .entry-title, 
	.single-format-standard .entry-title {
		font-size: 45px;
		line-height: 50px;
		}
	
	blockquote { margin: 40px 0; }
	
	.children {
		list-style-type: none;
		margin: 40px 0 40px 0px;
		}
	.format-aside article.entry-content p {
		text-align: center;
	}	
		
		
/*--------------------------------------------------------------------*/
/*	F.  PORTFOLIO POST TYPE
/*--------------------------------------------------------------------*/  		
	#filter { display: none; }
		
	#stage, #stage.withsidebar { min-width: 100%; margin-left: 0; float: none; }
	
	#stage .page-grid-item  .post-slider .flex-direction-nav li a { top: 40%; }
	
	[class*="two-columns"] + [class*="two-columns"]:last-child, 
	[class*="three-columns"] + [class*="three-columns"]:last-child, 
	[class*="four-columns"] + [class*="four-columns"]:last-child { float: none; }
			
	.page-grid-item, 
	.page-grid-item.three-columns,
	.page-grid-item.two-columns, 
	.page-grid-item.four-columns {
		width: 100% !important;
		max-width: 380px;
		height: auto;
		clear: both;
		margin: 0 auto 20px auto !important;
		float: none;
		}
	
	.page-grid-item .post-thumb,	
	.page-grid-item .post-thumb img, 
	.page-grid-item .post-thumb-overlay, 
	.page-grid-item .stripes {
		margin-bottom: 10px;
		}
			
	.portfolio .entry-meta, 
	.portfolio .entry-content { margin-left: 0; }
	
	.portfolio-entry-meta { margin: 10px 0 0 0; }
	
	.portfolio .entry-content-media { margin-bottom: 0; }
	
	.portfolio  .navigation { display: none; }
	
	.portfolio .entry-content { padding-top: 10px; }
	
	.page-template-page-portfolio-php .pagination-arrows .page-next { margin-right: 0px!important; }
	.page-template-page-portfolio-php .pagination-arrows .page-previous { margin-left: 0px!important; }


/*--------------------------------------------------------------------*/
/*	G.  WIDGET STYLES
/*--------------------------------------------------------------------*/   		
 	.post-tags a { font-size: 13px; }
 	
	.tag-count { display: none!important; }		
 		
	.newsletter-button { 
		font: bold 17px/20px Helvetica, Helvetica-Neue, Arial, sans-serif;
		padding: 12px 22px;
		margin: 5px 0 0 0;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		}
		
	div.clients p { width: 100% !important; }
	
	div.clients img {
		margin: 0 auto;
		width: 100%;
		float: none;
		}
	
	.bean-social-counter, .bean-social-counter ul {
		text-align: center;
		width: 100%;
		padding: 0px 25px;
		margin-top: 10px;
		}
	
	.bean-social-counter ul { border-top: 1px solid #F0F0F0; }

	.social-links li {
		text-align: center;
		float: none;
		margin: 10px 20px 0px 20px;
		padding: 14px 20px;
		background-color: #F0F0F0;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		}
	
	.social-links li:hover { background-color: #e7e7e7; }
	
	.social-links li:first-child { margin-top: 25px; }	
	
	.bean-dribbble-shots { margin-left: 13px; }
	
	.bean-dribbble-shots img,
	.footer-widgets-full .bean-dribbble-shots img {
		width: 91px;
		height: 91px;
		}

	.bean-shot {
		margin: 5px 6px 0px 6px;
		float: left;
		}
		
		   		
/*--------------------------------------------------------------------*/
/*	H.  RELATED CONTENT 
/*--------------------------------------------------------------------*/  		   		 
	.page-grid-item p { line-height: 20px; }
	
	.related-content { margin-top: 20px; }
		
	.related-content .page-grid-item,
	.related-content .page-grid-item.two-columns {
		margin-right: 0px;
		padding: 0px;
		}
	
	.related-content .page-grid-item, 
	.related-content .page-grid-item.three-columns, 
	.related-content .page-grid-item.two-columns, 
	.related-content .page-grid-item.four-columns {
		width: 100% !important;
		height: auto;
 		}	
	
	.related-content .page-grid-item .post-thumb, 
	.related-content .page-grid-item .post-thumb img, 
	.related-content .page-grid-item .post-thumb-overlay, 
	.related-content .page-grid-item .stripes { width: 100% !important; }
	
	#related-posts .page-grid-item, 
	#related-posts .page-grid-item.three-columns, 
	#related-posts .page-grid-item.two-columns, 
	#related-posts .page-grid-item.four-columns { width: 100% !important; }
	
	#related-posts .page-grid-item .post-thumb, 
	#related-posts .page-grid-item .post-thumb img, 
	#related-posts .page-grid-item .post-thumb-overlay, 
	#related-posts .page-grid-item .stripes { width: 100% !important; }
		
	
/*--------------------------------------------------------------------*/
/*	I.  SLIDERS STYLES
/*--------------------------------------------------------------------*/  				
 	.radium-accordion .caption_3 h1 { font-size: 1em; }
  			
 	#slider_nav {
 		margin: 0 auto;
 		position: absolute;
 		bottom: -2px;
 		z-index: 15;
 		margin: 0 auto;
 		width: 100%;
 		}
 		
 	#slider_nav ul {
 		background: none;
 		height: 22px;
 		text-align: center;
 		margin: 0 auto;
 		max-width: 100%;
  		position: relative;
  		z-index: 7;
  		}	
 	
 	#slider_nav li {
 		background: none;
 		margin: 0 0 0 0;
  		height: 22px;
 		width: 22px;
 		_height: 22px;
 		vertical-align: top;
 		display: inline-block;
 		zoom: 1;
 		}
 	
 	#slider_nav li a {
 		text-align: left;
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url(../images/slider-bullets.png) no-repeat;
		text-indent: -9999px;
		border: 0;
		margin: 0 2px;
		overflow: hidden;
		
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		}
		
 	 #slider_nav li a.activeSlide  { background-position:0 -21px; }


/*--------------------------------------------------------------------*/
/*	J.  SHORTCODE STYLES
/*--------------------------------------------------------------------*/  
	.modal { 
		position: fixed; 
		top: 5% !important; 
		right: 5%; 
		left: 5%; 
		bottom: 5%; 
		width: auto; 
		height: auto;
		margin: 0; 
		}
		
	.modal-body { height: 60%; }
	
	.modal-body { 
		max-height: 500px; 
		overflow-y: auto; 
		-webkit-overflow-scrolling: touch; 
		}	
} 




/*--------------------------------------------------------------------*/
/*                    												  */
/*                03. iPAD/TABLET DEVICES GENERAL			  	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/	
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	body { -webkit-text-size-adjust: none; }
	
	#bottom-footer input[type="email"], 
	#bottom-footer input[type="text"], 
	#bottom-footer input[type="password"], 
	#bottom-footer textarea { width: 94%!important; }
	
	.newsletter-button { 
	 	font: bold 17px/20px Helvetica, Helvetica-Neue, Arial, sans-serif;
	 	padding: 10px 20px;
	 	margin: 5px 0 0 0px;
		}
		
	
	/*Header*/
	#toTop { display: none!important; }
	
	/*Navigation*/
	#navigation > .row > .twelve { padding: 0 10px; }
		
	.main_menu ul li strong { font-size: 11px; }
	.main_menu .submenu-indicator { right: 2px; }	
	
	/*Content*/	
	.image-frame img, 
	.attachment .post-box img, 
	.entry-content-media img, 
	.post-thumb img { width: 100%; }
	
	/* =Portfolio Items */	
	.format-audio div.jp-audio div.jp-type-single a.jp-play, 
	.format-audio div.jp-audio div.jp-type-single a.jp-pause, 
	.portfolio.audio div.jp-audio div.jp-type-single a.jp-play, 
	.portfolio.audio div.jp-audio div.jp-type-single a.jp-pause { }
	
	/*Portfolio*/
	#stage, #stage.withsidebar { min-width: 100%; }
	
	.page-grid-item, 
	.page-grid-item.three-columns, 
	.page-grid-item.two-columns, 
	.page-grid-item.four-columns {
		width: 46% !important;
		height: auto!important;
		overflow: hidden;
		}
	
	.page-grid-item.two-columns .fluid-width-video-wrapper, 
	.page-grid-item.three-columns .fluid-width-video-wrapper, 
	.page-grid-item.four-columns .fluid-width-video-wrapper,	
	.page-grid-item .fluid-width-video-wrapper { padding-top: 45% !important; }
	
	.page-grid-item .post-thumb,	
	.page-grid-item .post-thumb img, 
	.page-grid-item .post-thumb-overlay, 
	.page-grid-item .stripes { height: auto !important; }
		
	.related-content .page-grid-item, 
	.related-content .page-grid-item.three-columns, 
	.related-content .page-grid-item.two-columns, 
	.related-content .page-grid-item.four-columns {	
		height: auto!important;
		overflow: hidden;
		}	
	
	.related-content .page-grid-item .post-thumb, 
	.related-content .page-grid-item .post-thumb img, 
	.related-content .page-grid-item .post-thumb-overlay, 
	.related-content .page-grid-item .stripes{ height: auto!important; }
	
	#related-posts .page-grid-item, 
	#related-posts .page-grid-item.three-columns, 
	#related-posts .page-grid-item.two-columns, 
	#related-posts .page-grid-item.four-columns{
		overflow: hidden;
		height: auto!important;
		}
	
	#related-posts .page-grid-item .post-thumb, 
	#related-posts .page-grid-item .post-thumb img, 
	#related-posts .page-grid-item .post-thumb-overlay, 
	#related-posts .page-grid-item .stripes { height: 100px !important; }
	
	#slider_nav li a img {
		width: 43px;
		height: 43px;
		}					
}
    



/*--------------------------------------------------------------------*/
/*                    												  */
/*               04. iPAD/TABLET DEVICES (LANDSCAPE)		  	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/	
@media only screen 
and (max-device-width: 1024px) 
and (orientation: landscape) { 	

.newsletter-button {
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
	}

input.email-newsletter {
 	width: 100%;
 	-webkit-border-radius: 0px;	
 	}
 
#stage,
.stage { 
    position: relative; 
    clear: both;
    }

#stage { 
	min-width: 100%; 
	width: 100%; 
	overflow: hidden;
	} 

.portfolio.page-grid-item.two-columns {
	width: 375px !important;
	margin-right: 10px;
	}
	
.page-template-page-portfolio-php .pagination-arrows .page-next { margin-right: 10px; }

.related-content .page-grid-item.two-columns:last-child { float: right; }
	
}
		
		
		
		
/*--------------------------------------------------------------------*/
/*                    												  */
/*               05. iPAD/TABLET DEVICES (PORTRAIT)		    	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/				
@media only screen 
and (min-device-width : 768px) 
and (orientation : portrait){

.newsletter-button {
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
	}
	
	#stage,
	.stage { 
	    position: relative; 
	    clear: both;
	    }
    
	#stage { 
		min-width: 100%; 
		width: 100%; 
		overflow: hidden;
		}
 	
 	.portfolio.page-grid-item.two-columns {
 		width: 349px !important;
 		}
 	
	.related-content .page-grid-item.two-columns:last-child { float: right; }
	
	.team {
		text-align: center;
		padding-right: 6px;
		}	
	
	.portfolio-entry-meta h5 {
		padding-bottom: 25px;
		margin-top: 18px;
	}
	.page-template-page-team-php #main { width: 100%; }
	.page-template-page-portfolio-php .pagination-arrows .page-next { margin-right: 10px; }
	.page-template-page-portfolio-php .pagination-arrows .page-previous { margin-left: 10px; }
}
  
  
    
    
/*--------------------------------------------------------------------*/
/*                    												  */
/*              	 06. iPHONE/SMARTPHONE GENERAL		    	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/	
@media only screen 
and (max-device-width: 320px)
and (max-device-width : 480px) {
	#footer-widgets { padding: 20px 10px 20px 10px!important; }
  
	#bottom-footer input[type="email"], 
	#bottom-footer input[type="text"], 
	#bottom-footer input[type="password"], 
	#bottom-footer textarea {
		width: 100%!important;
		text-align: center;
		}
		
	.footer-widgets-full h3,
	#bottom-footer h3 { font-size: 22px; }  
	
  	.recent-tags { margin-top: 40px; text-align: center; } 	
  
	.social-links li {
		text-align: center;
		float: none;
		margin: 10px 15px 0px 15px;
		padding: 14px 20px;
		background-color: #F0F0F0;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		}
	
	.team { text-align: center; }

	
			
}




/*--------------------------------------------------------------------*/
/*                    												  */
/*              	 07. iPHONE/SMARTPHONE PORTRAIT		    	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/
@media only screen 
and (max-width : 320px)
and (orientation : portrait) {

	.format-standard .entry-meta { display: none; }
	
	.format-quote .entry-title { font-size: 30px; }
	.bean-dribbble-shots { margin-left: 25px; }
	
	.bean-dribbble-shots img,
	.footer-widgets-full .bean-dribbble-shots img {
		width: 100px;
		height: 100px;
		}
	
	.page-template-page-team-php .entry-content h3 { text-align: center; }	
	
	.team { 
		text-align: center;
		margin-left: 40px;
		}
	
	.team-content { margin-top: -10px; }	
	
	.entry-content a.more-link { font-size: 20px; }	
	
	.page-grid-item .post-thumb-overlay { top: 43%; }
}




/*--------------------------------------------------------------------*/
/*                    												  */
/*              	 08. RESPONSIVE NAVIGATION   		    	 	  */
/*                    												  */
/*--------------------------------------------------------------------*/
#responsive-nav { padding:0px; z-index: 99999; }

#responsive-nav form.custom div.custom.dropdown {
	height: 25px;
 	width: 100% !important;
 	margin-bottom: 40px;
 	}

#responsive-nav form.custom div.custom.dropdown a.current {
	line-height: 45px;
	min-height: 45px;
	padding: 0 38px 0 25px;
	border: solid 1px #161616;
	border-bottom-color: #000;
	color: #252a2d;
	font-weight: bold;
	font-size: 15px;
	background-color: #161616;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}

#responsive-nav form.custom div.custom.dropdown a.selector {
 	width: 45px;
	height: 45px;
 	background: url(../images/mobile-nav-drop.png) no-repeat 50% 50% #161616;
 	border: solid 1px #161616;
 	border-bottom-color: #000;
 	margin-right: 19px;
 	}

#responsive-nav form.custom div.custom.dropdown a.selector:after { 
	content: ""; 
	border: solid 5px; 
	border-color: transparent; 
	left: 50%; 
	top: 50%; 
	margin-top: -2px; 
	margin-left: -5px; 
	}
	
#responsive-nav form.custom div.custom.dropdown:hover a.selector:after, 	
#responsive-nav form.custom div.custom.dropdown ul li.selected:after { content: "";  }

form.custom div.custom.dropdown { margin-top: 0px; }

#responsive-nav form.custom div.custom.dropdown ul {
 	width: 100% !important;
 	margin: 0;
 	top: 45px;
 	background-color: #161616;
 	border: none;
 	z-index: 99999;
 	padding-bottom: 15px;
 	padding-top: 5px;
	}
	
#responsive-nav  form.custom div.custom.dropdown ul li {
	cursor: pointer;
	padding: 12px 0px 12px 0px;	
	color: #aeb2b9;
	border-bottom: 1px solid #282828;
	font-size: 14px;
	font-weight: bold;
	margin: 0 30px;
	}
		
#responsive-nav form.custom div.custom.dropdown ul li:hover { 
	color: #fff; 
	background: #161616; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li:hover:after { 
	content: ""; 
	color: #8ed3e7; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li.selected:hover { 
	background: #161616; 
	color: #fff; 
	}
	
#responsive-nav form.custom div.custom.dropdown ul li.selected:hover:after { 
	color: #000; 
	background: #161616; 
	}

#responsive-nav  form.custom div.custom.dropdown ul li:first-child { display: none; }	

#responsive-nav  form.custom div.custom.dropdown ul li:last-child { border-bottom: none; }	




/*--------------------------------------------------------------------*/
/*                    												  */
/*              			 09. RETINA CSS		    	 	  		  */
/*                    												  */
/*--------------------------------------------------------------------*/
@media all and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
	#responsive-nav form.custom div.custom.dropdown a.selector {
		background: url(../images/retina/mobile-nav-drop@2x.png) 50% 50% no-repeat #161616;
		background-size: 26px 18px;
		}

	.bean-social-profiles ul li a {
		background:url(../images/retina/social-bar@2x.png) no-repeat 0 0;
		background-size: 805px 70px;
		background-color: #AEB2B9; 
		}
	
	a.jp-play span,
	div.jp-interface,
	a.jp-pause span,
	a.jp-stop span,
	a.jp-previous span,
	a.jp-next span,
	a.jp-mute span,
	a.jp-unmute span,
	div.jp-play-bar,
	a.jp-full-screen span,
	a.jp-restore-screen span, 
	div.jp-volume-bar-value { 
		background-image:url(../images/retina/jp_sprite@2x.png);
		background-size: 59px 278px; 
		}
	
	div.jp-interface { background-position: 0 -160px; background-repeat: repeat-x;  }
	a.jp-play span { background-position: 1px 6px; background-repeat: no-repeat; display:none;  }
	a.jp-pause span { background-position: 1px -23px; background-repeat: no-repeat;  }
	a.jp-stop span { background-position: -1px -50px; background-repeat: no-repeat;  }
	a.jp-previous span { background-position: -56px -23px; background-repeat: no-repeat;  }
	a.jp-next span { background-position: -56px 0; background-repeat: no-repeat;  }
	a.jp-mute span { background-position: 0 -83px; background-repeat: no-repeat;  }
	a.jp-unmute span { background-position: 0 -110px; background-repeat: no-repeat; display:none;  }
	div.jp-play-bar { background-position: 0px -145px; background-repeat: repeat-x;  }
	div.jp-volume-bar-value { background-position: 0px -145px; background-repeat: repeat-x;  }
	a.jp-full-screen span {	background-post:-5px -215px; background-repeat: no-repeat; }
	a.jp-restore-screen span { background-postition: -5px -248px; background-repeat: no-repeat; }
	
	.post-slider .flex-direction-nav .prev,
	.post-slider .flex-direction-nav .next {
		background: url(../images/retina/nav-arrows@2x.png);
		background-size: 131px 17px; 
		background-repeat: no-repeat;
		background-color: #1E1E1E;
		}	
	.post-slider .flex-direction-nav .prev { background-position: 10px 50%; }	
	.post-slider .flex-direction-nav .next { background-position: -110px 50%; }	
	
	.pagination-arrows .page-previous, 
	.pagination-arrows .page-next {
		background: url(../images/retina/nav-arrows@2x.png);
		background-size: 131px 17px; 
		background-repeat: no-repeat;
		background-color: #AEB2B9;
		}
	
	.pagination-arrows .page-previous { background-position: 13px 11px; }
	.pagination-arrows .page-next { background-position: -105px 11px; }
	
	#toTop {
		background: #AEB2B9 url(../images/retina/ui.totop@2x.png) no-repeat 50% 50%;
		background-size: 56px 56px; 
		}
}
