<style type="text/css">
	table#ztl-landing-stats-box td
	{
		font-size: 14px;
	}
	table#ztl-landing-stats-box {
		border:0px;
	} 
	table#ztl-landing-stats-box tr {
		background-color: transparent;
	}
</style>
<table id="ztl-landing-stats-box">
      <thead>
        <tr>
          <th class="center">Views</th>
          <th class="center">Optins</th>
          <th class="center">Conversion Rate</th>
        </tr>
      </thead>
      <tbody>                                            
        <tr>
          <td class="column-views center">
            <span class="data">{{viewCount}}</span>
          </td>
          <td class="column-views center">
            <span class="data">{{optinCount}}</span>
          </td>
          <td class="column-views center">
            <span class="data">{{conversionRateText}}</span>
          </td>
        </tr>
      </tbody>
    </table>
<div style="clear:both"></div>