
/*Color Mix-ins*/

/*Type*/
$header: #111;
$body: #868480;
$weekly-body: #333;
$link: #7191BC;
$hover: #3477d3;
$light-body: #9F9D99;

$font: "proxima-nova",  Verdana, Helvetica, sans-serif;
$weekly-font: Georgia, serif;
$weekly-header-font: "anonymous-pro", Georgia, serif;

$body-font: 16px/26px $font;
$weekly-body-font: 16px/1.422em $weekly-font;
$header-font: 20px/28.75px $font;
$weekly-header-font: 37px/1.378em $font;
$button-font: 1.2em/1.5em $font;
$weekly-button-font: .7em/1.5em $font;
$logo-font: 19px/33px "futura-pt", Verdana, Helvetica, sans-serif;


/*UI*/
$hr: #D9D3CF;
$button: #E44727;
$button-hover: #F75432;
$button-focus: #B72A22;

/*Backgrounds*/
$white: #fff;
$off-white: #f5f3f0;
$input-focus: #FAFFBD;
$gold: #FFD084;


/*Effects Mix-ins*/
$shadow: 0px 0px 3px #A6A498;

/*Font Mix-ins*/
$anon: 16px/25px 'Anonymous Pro', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;


/*White*/
$white: #fff;
$plan-bg: #EFEFEF;
$bonus-bg: #fcfcfc;

/*Black*/
$black: #111;
$body-black: #444;

/*Red*/
$header-red: #B72A22;
$red: #E44727;
$highlight-red: #F75432;

/*Gray*/
$hr-gray: #D9D3CF;
$quote-text: #9b9993;
$quote-name: #9b9993;
$dark-gray: #727167;
$text-gray: #9F9D99;
$light-gray: #F1F0EC;
$link-gray: #7191BC;
$gray: #bfbfbf;

/*Blue*/
$light-blue: #4B8BE2;
$link-blue: #3477d3;
$dark-blue: #0B4AA1;
$link-hover: #26599b;
$link-visited: #7C3B7D;

/*Yellow*/
$gold: #FFD084;

/*Green*/
$green-text: #19963C;
$green: #19963C;


