/*Color Mix-ins*/
$white: #fff;
$black: #111;
$body-black: #444;
$header-red: #B72A22;
$hr-gray: #D9D3CF;
$light-blue: #4B8BE2;
$link-blue: #3477d3;
$dark-blue: #0B4AA1;
$link-hover: #26599b;
$link-visited: #7C3B7D;
$quote-text: #9b9993;
$quote-name: #9b9993;
$quote-strong: #727167;
$plan-bg: #EFEFEF;
$red: #E44727;
$highlight-red: #F75432;
$bonus-bg: #fcfcfc;
$gold: #FFD084;
$gray: #bfbfbf;
$green-text: #19963C;
$green: #19963C;
$text-gray: #9F9D99;
$text-gray-dark: #868480;
$light-gray: #F1F0EC;
$link-gray: #7191BC;

/*Text-Shadow Mix-ins*/
$shadow: 0px 0px 3px #A6A498;

/*Font Mix-ins*/
$anon: 18px 'Anonymous Pro', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;