<form action="{{ current_page_url() }}&action=confirm_delete" method="post" data-name="{{ optin_form.name }}" class="ztl-confirm-delete">
    {{ model_nonce_field(optin_form, 'delete')|raw }}

    <input type="hidden" name="id" value="{{ optin_form.id }}" />

    <input type="submit" name="submit" value="Delete" />
    
</form>
