div.content {
  margin: 0em auto 0em auto;
  width:100%; 
  max-width: 33em;

}

blockquote {
  margin: 0em;
  width:100%; 

}

div.members-content {
  margin: 0em auto 2em auto;
  width:100%; 
  max-width: 46em;

}